@media screen and (max-width:689px){
    .links{
        display: none;
    }
    .menu-hamburguer{
        display: flex;
    }
    .total{
        display: none;
    }
}

@media screen and (min-width:350px) and (max-width:479px){
    .menu{
        height: 60px;
    }
    .logo{
        height: 50px;
    }
    /*----------------------------------*/
    .container{
        width: 97%;
    }
    .container-titulo{
        gap: 5px;
    }
    .titulo{
        font-size: 40px;
        letter-spacing: 3px;
    }
    .icone{
        height: 50px;
    }
    /*----------------------------------*/
    .servicos{
        flex-direction: column;
        margin-top: 35px;
        gap: 25px;
    }
    .servico{
        gap: 10px;
        padding: 10px;
    } 
    .servico img{
        height: 50px;
    }
    .servico h1{
        font-size: 20px;
    }
    .servico p{
        font-size: 14px;
        line-height: 19px;
    }

    /*----------------------------------*/
    footer{
        gap: 50px;
    }
    .logo-frase{
        align-items: center;
        text-align: center;
    }
    .logo-frase img{
        width: 230px;
    }
    .paginacao{
        display: none;
    }
    .w-i-f-y{
        height: 45px;
    }
}

@media screen and (min-width:480px) and (max-width:689px){ 
    .menu{
        height: 60px;
    }
    .logo{
        height: 50px;
    }
    /*----------------------------------*/
    .container{
        width: 95%;
    }
    .container-titulo{
        gap: 5px;
    }
    .titulo{
        font-size: 40px;
        letter-spacing: 3px;
    }
    /*----------------------------------*/
    .servicos{
        flex-direction: column;
        margin-top: 40px;
        gap: 30px;
    }
    .servico{
        gap: 15px;
        padding: 15px;
    } 
    .servico img{
        height: 80px;
    }
    .servico h1{
        font-size: 20px;
    }
    .servico p{
        font-size: 15px;
        line-height: 20px;
    }
    /*----------------------------------*/
    footer{
        gap: 50px;
    }
    .logo-frase{
        align-items: center;
        text-align: center;
    }
    .logo-frase img{
        width: 230px;
    }
    .paginacao{
        display: none;
    }
    .w-i-f-y{
        height: 45px;
    }
}

@media screen and (min-width:690px) and (max-width:849px){
    .container{
        width: 95%;
    }
    .titulo{
        font-size: 40px;
    }
    /*----------------------------------*/
    .logo-frase img{
        width: 250px;
    }
    footer{
        gap: 35px;
    }
}

@media screen and (min-width:850px) and (max-width:1000px){
    .container{
        width: 90%;
    }
    .titulo{
        font-size: 48px;
    }
    /*----------------------------------*/
    .logo-frase img{
        width: 250px;
    }
}